`ResourceType` `schemaExtension` attribute should be optional

The current `ResourceType` schema does not validate the examples from [RFC7643 §8.6](https://www.rfc-editor.org/rfc/rfc7643#section-8.6), because `schemaExtension` is marked as missing. However [RFC7643 §8.6](https://www.rfc-editor.org/rfc/rfc7643#section-6) indicate that this is optional:

>    schemaExtensions
      A list of URIs of the resource type's schema extensions.
      OPTIONAL.

```python
>>> rfc7643_examples = [
...         {
...             "schemas": ["urn:ietf:params:scim:schemas:core:2.0:ResourceType"],
...             "id": "User",
...             "name": "User",
...             "endpoint": "/Users",
...             "description": "User Account",
...             "schema": "urn:ietf:params:scim:schemas:core:2.0:User",
...             "schemaExtensions": [
...                 {
...                     "schema": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
...                     "required": True,
...                 }
...             ],
...             "meta": {
...                 "location": "https://example.com/v2/ResourceTypes/User",
...                 "resourceType": "ResourceType",
...             },
...         },
...         {
...             "schemas": ["urn:ietf:params:scim:schemas:core:2.0:ResourceType"],
...             "id": "Group",
...             "name": "Group",
...             "endpoint": "/Groups",
...             "description": "Group",
...             "schema": "urn:ietf:params:scim:schemas:core:2.0:Group",
...             "meta": {
...                 "location": "https://example.com/v2/ResourceTypes/Group",
...                 "resourceType": "ResourceType",
...             },
...         },
...     ]
>>> from pydanticscim.resource_type import ResourceType
>>> for example in rfc7643_examples:
...     ResourceType.model_validate(example)
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "/home/eloi/.virtualenvs/pydantic-scim-vwax/lib/python3.12/site-packages/pydantic/main.py", line 551, in model_validate
    return cls.__pydantic_validator__.validate_python(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
pydantic_core._pydantic_core.ValidationError: 1 validation error for ResourceType
schemaExtensions
  Field required [type=missing, input_value={'schemas': ['urn:ietf:pa...eType': 'ResourceType'}}, input_type=dict]
    For further information visit https://errors.pydantic.dev/2.7/v/missing
```