Missing common attributes

[RFC7643 §3.1](https://www.rfc-editor.org/rfc/rfc7643#section-3.1) defines three *common* attributes to all the models except `ServiceProviderConfig` and `ResourceType`, that are *id*, *externalId* and *meta*, which is a complex and embed information such as the modification/creation dates.

I suggest implementing a `Model` class that would implement those attributes, and make the other models (`User`, `Group` etc.) inherit from it.

What do you think?